.main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    height: calc(100vh - 72px);
}

.main-content {
    display: flex;
    flex-direction: column;

}

.main h2 {
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
    margin-top: 36px;
}

.p-content {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 400px;
}

.btn{
    display: flex;
    gap: 24px;
}
.cat-btn{
    background: transparent;
    border: 1px solid black;
    color: black;
}
p{
    margin-top: 36px;
    margin-bottom: 16px;
    color: grey;
}
.ecom{
    display: flex;
    gap: 16px;
}